@model Assignment.Models.Category

<form method="post" asp-controller="Category" asp-action="Edit">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input class="form-control" asp-for="@Model.Name" />
        <span class="text-danger" asp-validation-for="@Model.Name"></span>
    </div>
    <div class=" form-group">
        <input type="submit" class="btn btn-primary" value="Add" />
    </div>
</form>