@model List<Category>

<h1>Category List</h1>
<table class="table table-info">
    
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th class="text-center">Menu</th>
    </tr>
    @foreach (var cate in Model)
    {
        <tr>
            <td>@cate.Id</td>
            <td>@cate.Name</td>
            <td class="text-center">
                <a class="btn btn-primary" asp-controller="Category" asp-action="Add">Add</a>
                <a asp-controller="Category" asp-action="Edit" class="btn btn-warning"
               asp-route-id="@cate.Id">Edit</a>
                <a asp-controller="Category" asp-action="Remove" class="btn btn-danger"
               asp-route-id="@cate.Id" onclick="return confirm('Are you sure to remove this university ?');">Remove</a>
            </td>
        </tr>
    }
</table>